install
zlib1g-dev
automake
autoconf
unzip
sox
libtool
subversion
python2.7
python3=3.5.2
libpcre3
libpcre3-dev
gfortran
build-essential
automake
git
zlib1g-dev
libtool
subversion
curl
vim
python-pip
python-pip3
screen
gstreamer1.0-plugins-bad
gstreamer1.0-plugins-base
gstreamer1.0-plugins-good
gstreamer1.0-pulseaudio
gstreamer1.0-plugins-ugly
gstreamer1.0-tools
libgstreamer1.0-dev
libjansson-dev
python-gi