apt-get install \
        zlib1g-dev \
        automake \
        autoconf \
        unzip \
        sox  \
        libtool \
        subversion \
        python2.7 \
        python3=3.5.2 \
        libpcre3 \
        libpcre3-dev